In [3]:
import pandas as pd
df3 = pd.read_csv('E:\学习文件\pytorch\大三下学期工作室项目——股票数据分析预测\stock-prediction-main\代码\个股走势预测\合并情感维度\Bi-LSTM\data\preProcess\TechNews_modified_500_fenci.csv', header = None, encoding = 'utf-8')
df4 = pd.read_csv('F:\股票预测测试\stock-prediction-main\代码\个股走势预测\合并情感维度\Bi-LSTM\code\最新可以运行的结果TechNewsbyXu_clean.csv', header = None, encoding = 'utf-8')

In [4]:
df4

          0
0      pred
1         0
2         1
3         0
4         1
...     ...
18272     1
18273     0
18274     0
18275     0
18276     1

[18277 rows x 1 columns]

In [5]:
df3

                                          0     1
0                                    review  rate
1      转录 服务公司 Rev 曝 隐私 丑闻 万 员工 可 访问 客户 数据      0
2      联想集团 CEO 杨元庆 我 OUT 了 后 才 是 智能 消费 担当      1
3                      等 了 天高瓴 格力 宣布 延后 签约      0
4             工信部 印发 携号 转网 服务 管理 规定 月 起 施行      1
...                                     ...   ...
18272             发布 微博 卫士 用户 可 放心使用 新浪 微博      1
18273                 安全 中心 微博 蠕虫 系 黑客 恶作剧      0
18274      黑客 组织 AntiSec 公布 文件 称 攻破 苹果 服务器      0
18275              安全 中心 网上 查分 谨防 钓鱼 网站 诈骗      0
18276                网游 类 钓鱼 网站 攀升 月 同比 暴增      0

[18277 rows x 2 columns]

In [6]:
for i in range(1, len(df4)):
    if int(df4.iloc[i, 0]) == 0:
        df4.iloc[i, 0] = -1

In [7]:
df4

          0
0      pred
1        -1
2         1
3        -1
4         1
...     ...
18272     1
18273    -1
18274    -1
18275    -1
18276     1

[18277 rows x 1 columns]

In [8]:
df3['pred'] = df4[0]

In [9]:
df3.to_csv(r'./TechNews_predict_merge_-1.csv',index=False)

In [10]:
df3 = pd.read_csv('E:\学习文件\pytorch\大三下学期工作室项目——股票数据分析预测\stock-prediction-main\数据集\中兴通讯新闻分词.csv', header = None, encoding = 'utf-8')

In [11]:
for i in range(1, len(df4)):
    if int(df4.iloc[i, 0]) == 0:
        df4.iloc[i, 0] = -1
df3['pred'] = df4[0]
df3.to_csv(r'./TechNews_predict_merge_-1.csv',index=False)